<div class="page" data-name="home">
  <!-- 顶部导航栏 -->
  <div class="navbar navbar-large">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link icon-only panel-open" data-panel="left">
          <i class="icon f7-icons if-not-md">menu</i>
          <i class="icon material-icons if-md">menu</i>
        </a>
      </div>
      <div class="title sliding">Zyphron</div>
      <div class="title-large">
        <div class="title-large-text">Zyphron</div>
      </div>
      <div class="right">
        <a
          href="https://github.com/huajiqaq/zhihu_web/"
          class="link icon-only external"
          target="_blank"
          rel="noopener"
        >
          <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
            <path
              d="M12 .5C5.73.5.5 5.73.5 12c0 5.08 3.29 9.39 7.86 10.93.58.11.79-.25.79-.56 0-.28-.01-1.02-.02-2-3.2.7-3.88-1.54-3.88-1.54-.53-1.34-1.29-1.7-1.29-1.7-1.06-.72.08-.71.08-.71 1.17.08 1.79 1.2 1.79 1.2 1.04 1.78 2.73 1.27 3.4.97.11-.75.41-1.27.74-1.56-2.56-.29-5.26-1.28-5.26-5.7 0-1.26.45-2.29 1.19-3.09-.12-.29-.52-1.45.11-3.02 0 0 .98-.31 3.2 1.18a11.1 11.1 0 0 1 2.92-.39c.99.01 1.99.13 2.92.39 2.22-1.49 3.2-1.18 3.2-1.18.63 1.57.23 2.73.11 3.02.74.8 1.19 1.83 1.19 3.09 0 4.43-2.7 5.41-5.27 5.7.42.36.79 1.09.79 2.2 0 1.59-.01 2.87-.01 3.26 0 .31.21.67.8.56C20.71 21.39 24 17.08 24 12c0-6.27-5.23-11.5-12-11.5z"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div
    class="page-content ptr-content infinite-scroll-content"
    id="recommend-container"
    data-infinite-distance="200"
  >
    <div class="ptr-preloader">
      <div class="preloader"></div>
      <div class="ptr-arrow"></div>
    </div>
    <div id="recommend" v-scope="RecommendCards()" @vue:mounted="init()">
      <div
        class="recommend-card card"
        v-for="(item, idx) in recommendations"
        :key="idx"
      >
        <a
          style="color: inherit"
          :href="`/content/${item.dataType ?? 'unknown'}/${item.id ?? ''}`"
        >
          <div class="card-header" v-if="item.header">{{ item.header }}</div>
          <div class="card-content">{{ item.content }}</div>
        </a>
        <a
          class="card-footer"
          :href="`javascript:openLink('${item.authorUrl}')`"
          rel="noopener"
        >
          {{ item.footer }}
        </a>
      </div>
      <!-- Framework7无限滚动预加载器 -->
      <div
        class="preloader infinite-scroll-preloader"
        v-show="nextUrl && loadingMore"
      ></div>
    </div>
  </div>
</div>
